{% extends 'app/home.html' %}

{% block content %}
<body class="DashboardBody">
<section class="SectionOfAbout">
        <div class="DivOfAbout">
            <div class="ContentOfAbout">
               
                <div class="post-entry">
                    <h2><a href="">{{post.title}}</a></h2>
                    <p>{{post.body}}</p>
                </div>
                <a href="{% url 'feedback_update' object.pk %}">+ Edit Workout</a>
                <a href="{% url 'feedback_delete' object.pk %}">- Delete Workout</a>
            </div>
        </div>
    </section>
</body>
{% endblock content %}