{% extends 'app/home.html' %}

{% block content %}
<body class="DashboardBody">
<section class="SectionOfAbout">
        <div class="DivOfAbout">
            <div class="ContentOfAbout">
                <h1>Edit Workout</h1>
                <form action="{% url 'feedback_update' object.pk %}" method = "post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock content %}