{% include 'app/navbarhome.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <body>
        <div class="w-container">
            <!-- Form to add a new workout -->
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Workout Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="id_description">Description</label>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- Display the added workouts inside the containers -->
            {% for workout in workouts %}
                <div class="w-card">
                    <div class="w-content">
                        <h3>{{ workout.name }}</h3>
                        <p><pre>{{ workout.description }}</pre></p>
                        <a href="{% url 'edit_workout' workout.id %}" class="btn">Edit</a>
                        <a href="{% url 'delete_workout' workout.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% empty %}
                <p>No workouts added yet.</p>
            {% endfor %}
        </div>
    </body>
</html>
{% endblock content %}
